.hero-section {
  min-height: 562px;
  display: flex;
  justify-content: center;
}

.hero-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 0 0 0 20px;
}
@media (max-width: 768px) {
  .hero-wrapper {
    flex-direction: column;
    gap: 32px;
    padding: 24px 0 0;
  }
}
.hero-text__wrapper {
  font-family: "Barlow", sans-serif;
  max-width: 530px;
}
.hero-heading {
  font-size: 48px;
  font-weight: 600;
  line-height: 52.8px;
  margin-bottom: 8px;
  font-family: "Barlow Condensed", sans-serif;
  max-width: 470px;
}
@media (max-width: 768px) {
  .hero-heading {
    font-size: 32px;
    line-height: 36.8px;
    max-width: 335px;
    text-align: left;
    margin: 0 auto 8px 0;
  }
}
.hero-subheading {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  margin-bottom: 32px;
  max-width: 470px;
}
@media (max-width: 768px) {
  .hero-subheading {
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    margin-bottom: 16px;
    max-width: 335px;
  }
}

/*HERO BLOCKS */
.hero-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 16px;
  column-gap: 24px;
  margin-bottom: 32px;
}

.hero-block__item-copy {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (max-width: 768px) {
  .hero-block__item {
    max-width: 140px;
  }
}
/*HERO BTN */

.hero-btn__wrapper {
  width: fit-content;
  height: 48px;
  display: flex;
}

.hero-btn {
  padding: 15px 20px;
  width: 474px;
  border-radius: 30px;
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}

@media (max-width: 640px) {
  .hero-btn {
    padding: 15px 112px;
    width: unset;
  }
}

/*Hero IMG*/
.hero-img__wrapper {
  position: relative;
}

.hero-logo {
  position: absolute;
  z-index: 100;
  top: 32px;
  left: 48px;
}
